<%! from django.utils.translation import ugettext as _ %>
<%! from django.template import RequestContext %>
<%! import third_party_auth %>
<%! from third_party_auth import pipeline %>
<%! from microsite_configuration import microsite %>

<%!
  from django.core.urlresolvers import reverse
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>

<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Your Activity on edX")}</%block>
<%block name="bodyclass">view-profile view-profile-activity is-authenticated</%block>
<%block name="nav_skip">#content-main</%block>


<div class="container" id="content-main">

  <div class="page-header">
    <h3 class="subtitle">Profile</h3>
    <h2 class="title title-page">Your edX Activity</h2>
  </div>

  <section class="content-main">
    <div class="certificates-wrapper">
      <h3 class="title title-certs">Certificates earned</h3>

      <div class="cert cert-verified">
        <a class="cert-link" href="">
        <img class="cert-image" src="../static/images/cert-placeholder-verified.png" />
        <h4 class="title title-course">
          <span class="org">BUx</span>
          <span class="course-num">INTL301x</span>
          <span class="course-name">War for the Greater Middle East</span>
          <span class="enroll-type">Verified Certificate</span>
        </h4>
        </a>
        <p class="meta">earned December 2014</p>
       <ul class="course-actions">
         <li class="online-cert action action-primary"><a href="">View verification page</a></li>
         <li class="download-cert action action-secondary"><a href="">Download PDF certificate</a></li>
       </ul>
      </div>

      <div class="cert cert-honor">
        <a class="cert-link" href="">
        <img class="cert-image" src="../static/images/cert-placeholder-honor.png" />
        <h4 class="title title-course">
          <span class="org">UTokyoX</span>
          <span class="course-num">UTokyo001x</span>
          <span class="course-name">Visualizing Postwar Tokyo, Part 1</span>
          <span class="enroll-type">Honor Code Certificate</span>
        </h4>
        </a>
        <p class="meta">earned December 2014</p>
        <ul class="course-actions">
         <li class="online-cert action action-primary"><a href="">View verification page</a></li>
         <li class="download-cert action action-secondary"><a href="">Download PDF certificate</a></li>
        </ul>
      </div>

      <div class="cert cert-profed">
        <a class="cert-link" href="">
        <img class="cert-image" src="../static/images/cert-placeholder-profed.png" />
        <h4 class="title title-course">
          <span class="org">UTokyoX</span>
          <span class="course-num">UTokyo001x</span>
          <span class="course-name">Visualizing Postwar Tokyo, Part 1</span>
          <span class="enroll-type">Professional Education Certificate</span>
        </h4>
        </a>
        <p class="meta">earned December 2014</p>
        <ul class="course-actions">
         <li class="online-cert action action-primary"><a href="">View verification page</a></li>
         <li class="download-cert action action-secondary"><a href="">Download PDF certificate</a></li>
        </ul>
      </div>

      <div class="cert cert-profed">
        <a class="cert-link" href="">
        <img class="cert-image" src="../static/images/cert-placeholder-profed.png" />
        <h4 class="title title-course">
          <span class="org">BerkeleyX</span>
          <span class="course-num">GG101x</span>
          <span class="course-name">The Science of Happiness</span>
          <span class="enroll-type">Professional Education Certificate</span>
        </h4>
        </a>
        <p class="meta">earned December 2014</p>
        <ul class="course-actions">
         <li class="online-cert action action-primary"><a href="">View verification page</a></li>
         <li class="download-cert action action-secondary"><a href="">Download PDF certificate</a></li>
        </ul>
      </div>

          % for certificate in certificates:
              <p>${certificate.course_id}</p>
          % endfor
    </div>

    <div class="enrollments-wrapper">
      <h3 class="title title-enrolls">Course enrollments</h3>
      <ul class="enrollments-list">
        <li class="enrollment">
          <h3 class="title-course">
            <a class="course-link" href="">
              <span class="org">BerkeleyX</span>
              <span class="course-num">GG101x</span>
              <span class="course-name">The Science of Happiness</span>
              <span class="enroll-type">Honor Code track</span>
            </a>
          </h3>
          <p class="meta">Start date: October 17, 2014</p>
        </li>
        <li class="enrollment">
          <h3 class="title-course">
            <a class="course-link" href="">
              <span class="org">UTokyoX</span>
              <span class="course-num">UTokyo001x</span>
              <span class="course-name">Visualizing Postwar Tokyo, Part 1</span>
              <span class="enroll-type">Honor Code track</span>
            </a>
          </h3>
          <p class="meta">Start date: October 17, 2014</p>
        </li>
      </ul>

          %for enrollment in course_enrollments:
              <!--<p>${enrollment['course']['course_id']}</p>-->
          %endfor
    </div>

  </section>

  <aside class="content-supplementary">
    <h2 class="title title-sup">Notifications</h2>

    <div class="notification-block">
     <h3 class="title"><i class="icon-user"></i> We hardly know you!</h3>
      <p>Your profile is only 20% complete.</p>
      <p><a href="">Complete your edX Profile</a></p>
     <p class="notice-date">posted 11/23/2014 at 11:59pm UTC</p>
    </div>

    <div class="notification-block">
      <h3 class="title"><i class="icon-time"></i> You have an assignment due tomorrow</h3>
      <p>The midterm exam in Visualizing Postwar Tokyo, Part 1 is due tomorrow.</p>
      <p><a href="">Go to assignment</a></p>
     <p class="notice-date">posted 11/23/2014 at 11:59pm UTC</p>
    </div>


    <div class="notification-block">
      <h3 class="title"><i class="icon-time"></i> Your Verification will expire soon</h3>
      <p>It's been almost a year since you last verified.</p>
      <p><a href="">Re-verify now</a></p>
     <p class="notice-date">posted 11/23/2014 at 11:59pm UTC</p>
    </div>

  </aside>


</div>
