<%! from django.utils.translation import ugettext as _ %>
<%! import third_party_auth %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Student Profile")}</%block>

<%block name="js_extra">
    <script type="text/javascript" src="${static.url('js/vendor/underscore-min.js')}"></script>
    <script type="text/javascript" src="${static.url('js/vendor/backbone-min.js')}"></script>
    <%static:js group='student_profile'/>
</%block>

<%block name="header_extras">
% for template_name in ["profile", "languages"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="student_profile/${template_name}.underscore" />
    </script>
% endfor
</%block>

<%block name="bodyclass">view-profile profile-shared is-authenticated</%block>
<%block name="nav_skip">#content-main</%block>


<section class="profile-header">
	<div class="container container-header">
		<header>
			<div class="learner-image">
				<img src="${static.url('images/profile-default.png')}" width=100 height=100>
			</div>
			<h1 class="learner-username">HappyXsy</h1>
			<h2 class="header-label">Learner Profile</h2>
		</header>
	</div>
</section>
<section class="profile-status">
	<div class="container">
		<section>
			<div class="about-category">
				<h3 class="about-header">Current Learning Goal:</h3>
				<span class="about-goal">I would like to learn about education and other things.</span>
			</div>
			<div class="sr wrapper-actions">
				Tweet/Facebook share icons
			</div>
		</section>
	</div>
</section>
<section class="profile-about">
	<div class="container">
		<section class="wrapper-about">
			<div class="about-category">
				<h3 class="about-header">Learning From:</h3>
				<span class="about-location">Cambridge, MA</span>
			</div>
			<div class="about-category">
				<h3 class="about-header">Field of Study:</h3>
				<span class="about-study">Education</span>
			</div>
			<div class="about-category">
				<h3 class="about-header">Find Me Online:</h3>
				<span class="about-social">Facebook, Twitter, LinkedIn</span>
			</div>
		</section>
	</div>
</section>
<section class="profile-courses">
	<div class="container">
		<section class="">
			<article>Current Learning Goal Section
			</article>
			<article>Additional Learner Details
			</article>
		</section>
	</div>
</section>