// lms student profile - activity

.view-profile-activity {

  .global {
    @include box-sizing(border-box);
    border-bottom: 1px solid $gray-l3;
  }

  // page setup
  .container {
    width: flex-grid(12);
    padding: ($baseline*2);

    .content-main {
      @include box-sizing(border-box);
      @include float(left);
      @include margin-right(flex-gutter());
      width: flex-grid(9,12);

      .title-page {
        @extend %t-title4;
        text-transform: none;
        letter-spacing: 0;
      }

      p {
        @extend %t-copy-base;
      }
    }

    .content-supplementary {
      @include box-sizing(border-box);
      @include float(left);
      width: flex-grid(3,12);
    }
  }

  // general resets
  .title {
    @extend %t-title;
    @extend %t-weight4;
    margin-bottom: .5em;
    color: $base-font-color;
  }

  // things that will just be on this page
  .certificates-wrapper {
    margin: $baseline 0;
    border: 2px solid $gray-l2;
    padding: ($baseline*1.5);

    .cert {
      width: 30%;
      vertical-align: top;
      display: inline-block;
      text-align: center;
      margin: 0 $baseline;

      &:first-child {
        margin: 0;
      }
    }

    .cert-image {
      border: 1px solid $gray-l2;
      margin: ($baseline/2) 0;
    }

    .title-cert {
      @extend %t-title5;

      .course {
        display: block;
      }

      .cert-type {
        @extend %t-title7;
        @extend %t-weight4;
        display: block;
      }
    }

    //extra selector to override bad p styles
    .cert .meta {
      @extend %t-copy-sub2;
      color: $gray-l2;
    }
  }


}
