// lms student profile - activity

.profile-activity {

  // things that will just be on this page
  .certificates-wrapper {
    margin: $baseline 0;
    border: 2px solid $gray-l2;
    padding: ($baseline*1.5);

    .cert {
      width: 30%;
      vertical-align: top;
      display: inline-block;
      text-align: center;
      margin: 0 $baseline;

      &:first-child {
        margin: 0;
      }
    }

    .cert-image {
      border: 1px solid $gray-l2;
      margin: ($baseline/2) 0;
    }

    .title-cert {
      @extend %t-title5;

      .course {
        display: block;
      }

      .cert-type {
        @extend %t-title7;
        @extend %t-weight4;
        display: block;
      }
    }

    //extra selector to override bad p styles
    .cert .meta {
      @extend %t-copy-sub2;
      color: $gray-l2;
    }
  }


}
