// lms student profile - shared

.profile-shared {

  .content-wrapper {
    background-color: $gray-l6;
  }


  // UI: 
  .profile-header{
    background-color: $header-border;

    .container-header {
      padding: 0;
    }

    // UI: Learner Image
    .learner-image {
      display: inline-block;

      img {
        border-radius: ($baseline*3);
        position: absolute;
        top: ($baseline*4.5);
        margin-left: $baseline;
        background-color: $white;
        box-shadow: 0 2px 1px $gray;
      } 

    }

    // UI: Learner Labels
    .learner-username {
      display: inline-block;
      margin: ($baseline/2) 0 ($baseline/2) ($baseline*7);
      color: $white;
      text-transform: lowercase;
      font-weight: 300;

      
    }

    .header-label {
      display: inline-block;
      margin: $baseline 0 ;
      float: right;
      text-transform: uppsercase;
      color: $white;
      font-family: 'Avenir Next', 'Open Sans';
    }

  }

  .profile-status {

    .container {
      padding: $baseline;
    }

    .about-category {
      @include margin-left(flex-gutter(1));
      display: inline-block;
      width: flex-grid(8,12);

      .about-header {
        @extend %t-title7;
        @extend %t-strong;
      }
    }
    .wrapper-actions {
      width: flex-grid(2,12);
      display: inline-block;
    }
  }


  .profile-about {

    .container {
      border-top: 1px solid $gray-l3;
      border-bottom: 1px solid $gray-l3;
      padding: ($baseline/2);
    }

    .about-category {
      display: inline-block;
      width: flex-grid(3,12);

      .about-header {
        @extend %t-title7;
        @extend %t-strong;
      }

    }

  }

  .profile-courses {

    background-color: $white;
    margin-top: ($baseline*2);

  }
}
