.search-bar,
.course-index .search-bar,
.dashboard .search-bar {

  @include box-sizing(border-box);
  position: relative;
  padding: ($baseline/4);

  .search-field-wrapper {
    position: relative;
  }

  .search-field {
    @extend %t-weight2;
    @include box-sizing(border-box);
    top: 5px;
    width: 100%;
    border-radius: 4px;
    background: $white-t1;
    &.is-active {
      background: $white;
    }
  }

  .search-button, .cancel-button {
    @extend %t-icon6;
    @extend %t-regular;
    @include box-sizing(border-box);
    @include right(12px);
    display: block;
    position: absolute;
    top: 0;
    border: none;
    background: transparent;
    padding: 0;
    height: 35px;
    color: $gray-l1;
    box-shadow: none;
    line-height: 35px;
    text-shadow: none;
    text-transform: none;
  }

  .cancel-button {
    display: none;
  }

}

.search-results {

  display: none;

  .search-info {
    margin-bottom: $baseline;
    border-bottom: 4px solid $border-color-l4;
    padding-bottom: $baseline;
    .search-count {
      @include float(right);
      color: $gray-l1;
    }
  }

  .search-result-list {
    padding: 0;
  }

  .search-results-item {
    @include padding-right(140px);
    position: relative;
    margin-bottom: $baseline;
    border-bottom: 1px solid $gray-l4;
    padding-bottom: $baseline;
    list-style-type: none;

    .result-excerpt {
      margin-bottom: $baseline;
    }
    .result-type {
      @include right(0);
      position: absolute;
      bottom: $baseline;
      font-size: 14px;
      color: $gray-l1;
    }
    .result-course-name {
      @include margin-right(1em);
      font-size: 14px;
      color: $gray-l1;
    }
    .result-location {
      font-size: 14px;
      color: $gray-l1;
    }
    .result-link {
      @include right(0);
      position: absolute;
      top: 0;
      line-height: 1.6em;
      text-transform: uppercase;
    }
  }

  .search-load-next {
    display: block;
    border: 2px solid $link-color;
    padding: 1rem;
    border-radius: 3px;
    color: $base-font-color;
    text-transform: uppercase;
  }

}


.courseware-search-bar {
  box-shadow: 0 1px 0 $white inset, 0 -1px 0 $shadow-l1 inset;
}


.dashboard-search-bar  {
  @include float(right);
  @include margin-left(flex-gutter());
  margin-bottom: $baseline;
  border: 1px solid $gray-l4;
  border-radius: ($baseline/4);
  width: flex-grid(3);
  background: $gray-l6;
  label {
    @extend %t-regular;
    color: $gray;
    font-size: 13px;
    font-style: normal;
    text-transform: uppercase;
  }
  .search-field {
    background: $white;
  }
}

.dashboard-search-results {
  @include float(left);
  margin: 0;
  padding: 0;
  width: flex-grid(9);
  min-height: 300px;
  .search-info {
    padding-bottom: lh(1.75);
    a {
      display: block;
      margin-bottom: lh(.5);
      font-size: 13px;
    }
    h2 {
      @include float(left);
      @include clear(left);
    }
  }
}

.courseware-search-results {
  padding: ($baseline*2);
}
