<%! from django.utils.translation import ugettext as _ %>
<%! from django.template import RequestContext %>
<%! import third_party_auth %>
<%! from third_party_auth import pipeline %>
<%! from microsite_configuration import microsite %>
<%! from student.models import UserProfile %>

<%!
  from django.core.urlresolvers import reverse
%>

<%inherit file="../main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Account Settings")}</%block>
<%block name="bodyclass">view-profile view-profile-settings is-authenticated</%block>
<%block name="nav_skip">#content-main</%block>


<%block name="js_extra">
    <script type="text/javascript" src="${static.url('js/vendor/underscore-min.js')}"></script>
    <script type="text/javascript" src="${static.url('js/vendor/backbone-min.js')}"></script>
    <%static:js group='student_account'/>
</%block>

<%block name="header_extras">
% for template_name in ["account"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="student_account/${template_name}.underscore" />
</script>
% endfor
</%block>

<div class="container" id="content-main">

  <div class="page-header">
    <h3 class="subtitle">Profile</h3>
    <h2 class="title title-page">Account Settings</h2>
  </div>

  <section class="content-main">

    <div id="account-container" class="grid settings-form-wrapper"></div>

  </section>


</div>
