<%inherit file="/main.html" />
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
  <%static:css group='style-course'/>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.axislabels.js')}"></script>
</%block>

<style type="text/css">
a.active-section {
	color: #551A8B;
}
.sysadmin-dashboard-content h2 a {
	margin-right: 1.2em;
}
table.stat_table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.stat_table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.stat_table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

a.selectedmode { background-color: yellow; }

textarea {
  height: 200px;
}
</style>

<section class="container">
<div class="sysadmin-dashboard-wrapper">

  <section class="sysadmin-dashboard-content" style="margin-left:10pt;margin-top:10pt;margin-right:10pt;margin-bottom:20pt">
    <h1>${_('Sysadmin Dashboard')}</h1>
	<hr />
    <h2 class="instructor-nav">
	  <a href="${reverse('sysadmin')}" class="${modeflag.get('users')}">${_('Users')}</a>
      <a href="${reverse('sysadmin_courses')}" class="${modeflag.get('courses')}">${_('Courses')}</a>
      <a href="${reverse('sysadmin_staffing')}" class="${modeflag.get('staffing')}">${_('Staffing and Enrollment')}</a> 
      ## Translators: refers to http://git-scm.com/docs/git-log
      <a href="${reverse('gitlogs')}">${_('Git Logs')}</a>
      <a href="${reverse('azuread_main')}" class="${modeflag.get('azuread')}">${_('Azure AD ')}</a>
    </h2>
	<hr />


<section class="container">
<div class="sysadmin-dashboard-wrapper">

  <section class="sysadmin-dashboard-content" style="margin-left:10pt;margin-top:10pt;margin-right:10pt;margin-bottom:20pt">
%if is_edit:
	<h3>${_('Azure AD: Edit User')}</h3>

%else:
	<h3>${_('Azure AD: Create User')}</h3>
%endif
%if msg:
    <p>${msg}</p>
%endif
    <form name="action" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />


%if is_edit == False:
	<ul class="list-input">
	  <li class="field text" style="padding-bottom: 1.2em">
		<label for="username">${_('username')} </label>
		<input type="text" name="username" size=40 ${'value="'+form_data["username"]+'"' if form_data.has_key("username") else ''} /> @${azuread_domain}
	  </li>
%else:
	<ul class="list-input">
	  <li class="field text" style="padding-bottom: 1.2em">
		<label for="username">${_('username')}: ${form_data["email"]}</label>

	  </li>
%endif
	  <li class="field text">
		<label for="student_first_name">${_('First Name')}</label>
		<input type="text" name="firstname" size=40 ${'value="'+form_data["firstname"]+'"' if form_data.has_key("firstname") else ''}/>
				<label for="student_last_name">${_('Last Name')}</label>
		<input type="text" name="lastname" size=40 ${'value="'+form_data["lastname"]+'"' if form_data.has_key("lastname") else ''}/>
	  </li>
	  <li class="field text">
				<label for="student_displayname">${_('Display Name')}</label>
		<input type="text" name="displayname" size=40  ${'value="'+form_data["displayname"]+'"' if form_data.has_key("displayname") else ''}/>
	  </li>


	  <li class="field text">
		<label for="student_password">${_('Password')}</label>
		<input type="password" name="password" size=40 />
	  </li>
	</ul>


	<div class="form-actions">
	  <p>
%if is_edit:
		<button type="submit" name="action" value="edit_user">${_('Save changes')}</button>
%else:
		<button type="submit" name="action" value="create_user">${_('Create user')}</button>
%endif
	  </p>
    </div>

%if form_data.has_key("object_id"):
	<input type="hidden" name="object_id" value="${form_data['object_id']}" />
	<input type="hidden" name="email" value="${form_data['email']}" />
%endif

    <hr width="40%" style="align:left">
	</form>



  </section>
  <div style="text-align:right; float: right"><span id="djangopid">'Django PID': ${djangopid}</span>
  ## Translators: A version number appears after this string
  | <span id="edxver">${_('Platform Version')}: ${edx_platform_version}</span></div>
</div>
</section>
