<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%inherit file="../main.html" />
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_("Confirm Enrollment")}</%block>

<%block name="content">
<div class="container">
  <section class="wrapper confirm-enrollment">
    <header class="page-header">
      <h1 class="title">
        ${_("{site_name} -  Confirm Enrollment").format(site_name=site_name)}
      </h1>
    </header>
    <section>
      <div class="course-image">
        <img style="width: 100%; height: auto;" src="${course_image_url(course)}"
             alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image"/>
      </div>
      <div class="enrollment-details">
        <div class="sub-title">${_("Confirm your enrollment for:")}
          <span class="course-date-label">${_("course dates")}</span>

          <div class="clearfix"></div>
        </div>

        <div class="course-title">
          <h1>
            ${_("{course_name}").format(course_name=course.display_name)}
              <span class="course-dates">${_("{start_date}").format(start_date=course.start_date_text)} -  ${_("{end_date}").format(end_date=course.end_date_text)}
              </span>
          </h1>
        </div>
        <hr>
        <div>
          % if reg_code_was_redeemed:
          <% dashboard_url = reverse('dashboard')%>
          <p class="enrollment-text">
            ${_("This link refers to an enrollment code that was already activated.")}
            ${_("Check your")}<a href="${dashboard_url}">${_("course dashboard")}</a>${_(" if you are already enrolled, or contact support")}
            ${_("if you have any other questions.")}
          </p>
          % elif redemption_success:
          <p class="enrollment-text">
            ${_("You have successfully activated enrollment code (${reg_code}) for this course.")}
            ${_("This course has now been added to your dashboard.")}
          </p>
          % else:
          <p class="enrollment-text">
            ${_("You have received this link in order to confirm your enrollment in Tackling the challenges of Big Data by")}
            ${_("MITProfessionalX.")}
            ${_("Confirming your enrollment will invalidate this code, so only click this link if you are the intended")}
            ${_("student recipient of this code.")}
          </p>
          % endif
        </div>
      </div>
      % if reg_code_was_redeemed:
      <% support_url = reverse('contact')%>
      <a href="${support_url}" class="link-button contact-support-bg-color">${_("Contact Support &nbsp; &nbsp; &#x25b8;")}</a>
      % elif redemption_success:
      <% course_url = reverse('info', args=[course.id.to_deprecated_string()]) %>
      <a href="${course_url}" class="link-button course-link-bg-color">${_("Go to Course &nbsp; &nbsp; &#x25b8;")}</a>
      % else:
      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
        <input type="submit" value="Activate Course Enrollment     &#x25b8;" id="id_active_course_enrollment"
               name="active_course_enrollment">
      </form>
      % endif
    </section>
  </section>
</div>
</%block>
