<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<article id="${course.id | h}" class="course">
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course_image_url(course)}" alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image" />
      </div>
    </header>
    <section class="course-info">
      <div class="course-organization">${get_course_about_section(course, 'university')}</div>
      <div class="course-code">${course.display_number_with_default}</div>
      <div class="course-title">${get_course_about_section(course, 'title')}</div>
      <div class="course-date">Starts: ${course.start_datetime_text()}</div>
    </section>
  </a>
</article>
